<section class="cavalo">
  <div class="question6">
    <%= image_tag "questions/cavalo/q6.png", id: "question" %>
    <div id="dropA" class="drop" data-answer="A"></div>
    <div id="dropB" class="drop" data-answer="B"></div>
    <%= image_tag "questions/cavalo/q6dragA.png", id: "dragA", class: "drag", data: { answer: "A" } %>
    <%= image_tag "questions/cavalo/q6dragB.png", id: "dragB", class: "drag", data: { answer: "B" } %>
  </div>
</section>
