<section class="cavalo">
  <div class="question5">
    <%= image_tag "questions/cavalo/q5.png", id: "question" %>
    <div id="radioA" class="radio" data-answer="A"></div>
    <div id="radioB" class="radio" data-answer="B"></div>
  </div>
</section>
