<section class="naufragio">
  <div class="question1">
    <%= image_tag "questions/naufragio/q1.png", id: "question" %>
    <div id="dropA" class="drop" data-answer="A"></div>
    <div id="dropB" class="drop" data-answer="B"></div>
    <%= image_tag "questions/naufragio/q1dragA.png", id: "dragA", class: "drag", data: { answer: "A" } %>
    <%= image_tag "questions/naufragio/q1dragB.png", id: "dragB", class: "drag", data: { answer: "B" } %>
  </div>
</section>
