<section class="naufragio">
  <div class="question5">
    <%= image_tag "questions/naufragio/q5.png", id: "question" %>
    <div id="radioA" class="radio" data-answer="A"></div>
    <div id="radioB" class="radio" data-answer="B"></div>
    <div id="radioC" class="radio" data-answer="C"></div>
    <div id="radioD" class="radio" data-answer="D"></div>
    <div id="radioE" class="radio" data-answer="E"></div>
    <div id="radioF" class="radio" data-answer="F"></div>
  </div>
</section>
