<section class="coral">
  <div class="question1">
    <%= image_tag "questions/coral/q1.png", id: "question" %>
    <div id="radioA" class="radio" data-answer="A"></div>
    <div id="radioB" class="radio" data-answer="B"></div>
    <div id="radioC" class="radio" data-answer="C"></div>
    <div id="radioD" class="radio" data-answer="D"></div>
  </div>
</section>
