<div class="coral">
  <div class="question10">
    <%= image_tag "questions/coral/q10.png", id: "question" %>
    <div id="dropA" class="drop" data-answer="A"></div>
    <div id="dropB" class="drop" data-answer="B"></div>
    <div id="dropC" class="drop" data-answer="C"></div>
    <%= image_tag "questions/coral/q10dragA.png", id: "dragA", class: "drag", data: { answer: "A" } %>
    <%= image_tag "questions/coral/q10dragB.png", id: "dragB", class: "drag", data: { answer: "B" } %>
    <%= image_tag "questions/coral/q10dragC.png", id: "dragC", class: "drag", data: { answer: "C" } %>
  </div>
</div>
