<div class="toca">
  <div class="question6">
    <%= image_tag "questions/toca/q6.png", id: "question" %>
    <div id="checkA" class="check", data-answer="A"></div>
    <div id="checkB" class="check", data-answer="B"></div>
    <div id="checkC" class="check", data-answer="C"></div>
    <div id="checkD" class="check", data-answer="D"></div>
    <div id="checkE" class="check", data-answer="E"></div>
    <div id="checkF" class="check", data-answer="F"></div>
    <div id="checkG" class="check", data-answer="G"></div>
    <div id="checkH" class="check", data-answer="H"></div>
    <div id="checkI" class="check", data-answer="I"></div>
    <div id="checkJ" class="check", data-answer="J"></div>
    <div id="checkK" class="check", data-answer="K"></div>
  </div>
</div>
