<div class="toca">
  <div class="question2">
    <%= image_tag "questions/toca/q2.png", id: "question" %>
    <div id="checkA" class="check", data-answer="A"></div>
    <div id="checkB" class="check", data-answer="B"></div>
    <div id="checkC" class="check", data-answer="C"></div>
    <div id="checkD" class="check", data-answer="D"></div>
    <div id="checkE" class="check", data-answer="E"></div>
  </div>
</div>
