// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions {
  height: 100%;

  background: url(image_path("sessions/bg.jpg")) no-repeat center center fixed;
  background-size: cover;

  .content {
    margin: auto;
    padding-top: 50px;
    width: 500px;
    height: 400px;
  }

  .logo {
    position: relative;
    left: 138px;
  }

  .box {
    padding: 30px;
    padding-bottom: 40px;
    background-color: #23A1E7;
    opacity: 0.8;
  }

  form {
    margin: auto;
    color: white;
    font: 20px 'Lucida Grande' bold;
    padding: {
      left: 30px;
      right: 30px;
    }
  }

  input {
    border: none;
  }

  .username {
    position: relative;
    left: 43px;
  }

  .password {
    position: relative;
    left: 20px;
  }

  .field {
    width: 293px;
    height: 20px;
    margin: {
      top: 5px;
      bottom: 10px;
    }
  }

  .submit {
    height: 25px;
    float: right;
    color: white;
    background-color: #005CFF;
  }
}
